.bg-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.shape {
    position: absolute;
    border-radius: 100%;
    opacity: 0.09;
    animation: float 20s infinite ease-in-out;
}

.shape-1 {
    width: 400px;
    height: 400px;
    background: var(--secondary);
    top: 10%;
    left: 5%;
    animation-delay: 0s;
}

.shape-2 {
    width: 350px;
    height: 350px;
    background: var(--accent);
    top: 35%;
    right: 8%;
}

.shape-3 {
    width: 300px;
    height: 300px;
    background: var(--neutral);
    bottom: 15%;
    left: 15%;
}

.shape-4 {
    width: 450px;
    height: 450px;
    background: var(--light-bg);
    top: 30%;
    right: 5%;
    animation-delay: 3s;
}


h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  /* zat hadxi */
}

.side-nav {
    position: fixed;
    top: 10%;
    left: 25px;
    z-index: 1000; /* zat hadi bax les lien ikono hma li kaynin l9dam kolxi */
}

.side-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-link {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.1);
    transition: .2s;
    margin-top: 20px;
}

.side-link:hover,
.side-link.active {
    background: #0A6CF1;
    transform: scale(1.08);
}


section {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.card {
  width: 40%;
  /* hna aslan makayn lax tcopi dakxi li f global.css lhna hit mlinki m3a htma hir diri card class o sf hna 3dlt hir 3la l widht nta3ha sf */
}

.card h2 {
  font-size: 1.5em;
  color: #BDD8E9;
  margin-bottom: 20px;
  /* zat margin bottom bax ib3d 3la <p> */
}

.card p {
  color: black;
  line-height: 1.6;
  color: white;
}

.position1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* hna drt whda hda whda */
}