/* bg shapes */
.bg-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.shape {
    position: absolute;
    border-radius: 100%;
    opacity: 0.09;
    animation: float 20s infinite ease-in-out;
}

.shape-1 {
    width: 400px;
    height: 400px;
    background: var(--secondary);
    top: 10%;
    left: 5%;
    animation-delay: 0s;
}

.shape-2 {
    width: 350px;
    height: 350px;
    background: var(--accent);
    top: 35%;
    right: 8%;
    animation-delay: 5s;
}

.shape-3 {
    width: 300px;
    height: 300px;
    background: var(--neutral);
    bottom: 15%;
    left: 15%;
    animation-delay: 10s;
}

.shape-4 {
    width: 450px;
    height: 450px;
    background: var(--light-bg);
    top: 30%;
    right: 5%;
    animation-delay: 15s;
}

/* side nav */

.side-nav {
    position: fixed;
    top: 10%;
    left: 25px;
    z-index: 1000; /* zat hadi bax les lien ikono hma li kaynin l9dam kolxi */
}

.side-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-link {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.1);
    transition: .2s;
    margin-top: 20px;
}
/* Hero Section */

.hero {
   padding: 170px 150px;
    position: relative;
}

.hero-label {
    padding: 7px 17px;
    border: 1px solid;
    border-radius: 30px;
    font-size: 15px;
    display: inline;
    margin-bottom: 25px;
}

.hero-title {
    font-size: 65px;
    font-weight: 800;
    line-height: 1.1;
    max-width: 600px;
}


.hero-description {
    margin-top: 20px;
    font-size: 20px;
    width: 500px;
    color: #dfe6ee;
}

/* footer section */

.footer{ 
    padding: 35 px;
    margin-top: 80px;
    
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.footer-links a {
    margin: 12px;
    text-decoration: none;
    color: #e2d8d8;
}
.hero-scroll{
    margin-top: 60px;
    text-align: left;
}
.scroll-indicator{
    width: 1px;
    height: 35px;
    margin-top: 6px;
    background: #fff;
    
}
.btn{
    padding: 14px 28px;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;

}
.btn-primary{
    background: transparent;
    border: 1px solid ;
    color:#c1bfcc;

}
.btn-outline{
    border: 1px solid #fff;
    color: #fff;
}
.btn-outline:hover{
    background: #0a0a85;
    color:rgb(9, 4, 80);
}
.side-link:hover,
.side-link.active {
    background: #0A6CF1;
    transform: scale(1.08);
}
